@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Silkscreen&display=swap');


* {
  text-align: center;

}

body {
  background-image: url("https://wallpapercave.com/wp/wp7201486.jpg");
  grid-area:main;
  background-size: cover;
}

.card-layout {
    text-align: center;
}

.slot{
    cursor:pointer;
    display: inline-block;
    width: 75px;
    height: 100px;
    border-radius: 5px;
}

.slot:hover {
    border: 5px solid black;
    opacity: 75%;
}

h1 {
    margin-top: 0;
    margin-bottom: 2vmin;
    text-align: center;
    color: black;
    border: 1vmin solid black;
    background-color: grey;
    height: 6vmin;
}

.frontCardRed {
    background-color: red;
    border: 5px solid black;  
}
.frontCardBlue{
    background-color: blue;
    border: 5px solid black;
}
.frontCardGreen {
    background-color: green;
    border: 5px solid black;
}
.frontCardYellow {
    background-color: yellow;
    border: 5px solid black;
}
.frontCardPurple{
    background-color: purple;
    border: 5px solid black;
}
.frontCardOrange {
    background-color: orange;
    border: 5px solid black;
}
.backCard {
    background-color: gray;
    border: 1vmin solid black;
    background-image: url("https://i.pinimg.com/564x/de/13/25/de1325bef500607e983f49e2b1c614b1.jpg");
  background-size: 75px 100px;
}

.message {
  text-align: center;
  color: white;
  font-family: 'Fuggles', cursive;
  font-family: 'Silkscreen', sans-serif;
  font-size: 4vmin;

}

#newGame {
  width: 150px;
  height: 50px;
  text-align: center;
  font-family: 'Fuggles', cursive;
  font-family: 'Silkscreen', sans-serif;
}
button, h1 {
  border-radius: 10%;
  font-family: inherit;
  background-image: url("https://media.istockphoto.com/id/1317059002/nl/vector/joker-lachen-ha-ha-vector-achtergrond.jpg?s=170667a&w=0&k=20&c=vMkDVgMwSt0XcG2ly9NQAgNGp82UhI4p0gXGKseJL5s=");
  background-size: cover;
  border: 1vmin solid black;
  color: white;
}

button:hover {
  cursor: pointer;
  border: 1vmin red;
  color: yellow;
}

h3, h4{
  background-color: gray;
  border: 1vmin solid maroon;
  width: 150px;
  text-align: center;
  font-size: 2vmin;
  font-family: 'Fuggles', cursive;
  font-family: 'Silkscreen', sans-serif;
  
}

